certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.2
pdoc3==0.10.0
python-dotenv==1.0.0
requests==2.30.0
requests-mock==1.10.0
six==1.16.0
urllib3==2.0.2
